.vs/Gaussian-Gauss Jordan Eliminator Calculator/FileContentIndex
.vs/Gaussian-Gauss Jordan Eliminator Calculator/v17/ipch/AutoPCH
.vs/Gaussian-Gauss Jordan Eliminator Calculator/v17/Browse.VC.db
Gaussian-Gauss Jordan Eliminator Calculator/bin
Gaussian-Gauss Jordan Eliminator Calculator/intermediate
.vs/Gaussian-Gauss Jordan Eliminator Calculator/v17/Solution.VC.db
